.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
  transition: background-color 0.3s, color 0.3s;
}

.light-mode {
  background-color: #ffffff;
  color: #222;
  font-size: 14px;
}

.llm-logo:hover {
  cursor: pointer;
}

.llm-logo-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.logo-light-mode {
  width: 120px;
  margin-left: 2px;
  background-position: center;
}

.user-section {
  display: flex;
  align-items: center;
}

.header-timer {
  color: rgb(129, 129, 129);
}

.Huserinfo {
  display: flex;
  align-items: center;
  color: rgb(75, 75, 75);
  padding: 4px 10px;
  border-radius: 50px;
  border: none;
  font-size: 15px;
  font-weight: bold;
  margin-right: 2px;
}

.icon-half-human {
  width: 17px;
  height: 17px;
  margin-right: 5px;
  fill: rgb(255, 255, 255);
}

.NewlogOut-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  color: rgb(146, 146, 146);
  border: none;
  position: relative;
  margin-right: 40px;
  cursor: pointer;
  padding: 4px 10px;
  font-size: 13px;
  font-weight: bold;
  margin-top: 3px;
}

.NewlogOut-button:hover {
  opacity: 0.8;
}