.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 155px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(192, 192, 192);
  color: #979292;
  padding: 5px 5px 10px 5px;
  height: 100vh;
  box-sizing: border-box;
}

/* 최소화된 상태 */
.sidebar.minimized {
  width: 50px;
}

/* 메뉴 스타일 */
.menu {
  list-style-type: none;
  padding: 0;
  margin-top: 100px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 5px;
  color: #979292;
  text-decoration: none;
  transition: background 0.3s ease;
}

.menu-item:hover, .menu-focus {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  color: #000000;
}

.custom-icon-size {
  font-size: 14px;
  margin: 5px 7px 5px 10px;
}

.sider-text {
  font-size: 14px;
  margin-left: 4px;
}

.sidebar.minimized {
  margin-right: 0;
}

/* 최소화 상태에서 텍스트 숨김 */
.sidebar.minimized .menu-item {
  display: none;
  justify-content: center;
}

/* 하단 최소화/복구 버튼 */
.bottom-toggle {
  margin-top: auto;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

.bottom-toggle:hover {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  color: #000000;
}

.toggle-text {
  font-size: 14px;
  color: #979292;
}

.toggle-icon-size {
  font-size: 14px;
  margin-right: 5px;
  margin-left: 1px;
}