.login-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.login-container::after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* 이미지 반복 방지 */
    background-attachment: fixed; /* 배경 이미지 고정 */
    content: "";
    position: absolute;
    /* background: url('../../logos/LG_Electronics_Gradient_01_RGB.jpg'); */
    background-color: white;
    filter: brightness(95%); /* 100이하 어둡게, 100이상 밝게 */
    /* backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px); Safari 호환성 */
    opacity: 0.9;  /* 가상 요소를 약간 투명하게 */
    z-index: -1; /* 부모 요소 뒤에 배치 */
}

.login {
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 230px;
    text-align: center;
    flex-direction: column;
}

.login-logo {
    position: relative;
    align-items: center;
    margin-bottom: 0px;
    justify-content: center;
}

.login-logo div {
    position: absolute;
    /* border: 1px solid black; */
}
/* 
.login-logo h2 {
    text-align: right; 
    margin-right: 60px;
    margin-bottom: 5px;
} */

.login-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.login-body {
    width: 65%;
}

.login-input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.login-img {
    margin-bottom: 10px;
}

.login-input:focus {
    outline: none;
    border: 1px solid #8b8b8b;
}

.login-submit {
    width: 25%;
    /* margin-left: 20px; */
    margin-bottom: 10px;
}

.login-submit button {
    width: 100%;
    height: 100%;
    background-color: rgb(192, 0, 26);
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
}

.login-submit button:hover {
    background-color: rgb(170, 0, 0);
}

.login-options {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 13px;
}

.login-options span {
    cursor: pointer;
    color: #999;
}

.login-options span:hover {
    color: #333;
}

.option {
    margin: 5px;
    border-right: 1px solid #999;
}