.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: 'LGEITextRegular';
  src: url('./fonts/LGEIText-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body, button, h1, h2, h3, p {
  font-family: 'LGEITextRegular', sans-serif;
}

