/* 전체 레이아웃을 위한 Flexbox 컨테이너 */
.create-container {
  padding: 20px;
  background-color: #ECF0F1;
}

.section {
  flex: 1;
  margin-right: 20px;
  margin-bottom: 15px;
}
.section-title {
  font-size: 17px;
  font-weight: bold;
  color: #333;
  background-color: #fff;
  outline: 2px solid #EFEFF0;
  padding: 20px;
  border-radius: 15px;
}

.title {
  font-size: 25px;
  color: #c59c80;
}

/* 각 필드 그룹 */
.field-wrapper {
  margin-top: 10px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin-left: 40px;
}

.field-wrapper > label {
  display: flex;
  background-color: #b1416f;
  border-radius: 10px;
  justify-content: center; 
  align-items: center; 
  min-width: 200px;
  padding: 10px;
  margin-right: 30px;
  width: 180px;
  color: #fff;
}
  /* 새로운 필드 그룹을 위한 Flex 설정 */
.custom-field-wrapper {
  display: flex;
  flex-direction: column; /* 세로 정렬 */
}

.file-upload-list {
  color: #888;
  flex: 1; /* 자동으로 남은 공간 차지 */
}

.file-delete {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.file-delete > div {
  display: flex;
  align-items: center;
}

.flex-row {
  display: flex;
  align-items: center; /* 항목들을 수직 중앙 정렬 */
  margin-bottom: 10px;
}

/* 라벨 스타일 */
.file-delete-label {
  display: inline-block;
  background-color: #717d9e;
  color: #eee;
  padding: 10px;
  border-radius: 10px;
  margin-right: 15px;
  min-width: 200px; /* 일정한 너비 설정 */
  text-align: center; /* 가운데 정렬 */
  margin-right: 30px;
}

/* 드롭다운 스타일 */
.dropdown {
  display: block;
  width: 60%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  font-size: 14px;
  background-color: #fff;
  color: #495057;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='gray' class='bi bi-caret-down-fill' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 6.345c-.566-.566-.168-1.536.636-1.536h9.826c.803 0 1.202.97.636 1.536l-4.796 4.796a1 1 0 0 1-1.414 0z'/%3E%3C/svg%3E");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 12px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 40px;
}

/* 버튼 크기와 위치 조정 */
.submit-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e96483;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  width: 200px;  /* 버튼의 고정 너비 설정 */
  align-self: center;  /* 버튼이 컨테이너의 가운데에 배치되도록 설정 */
}

.submit-btn:hover {
  background-color: #C26075;
}

.flex-row {
  display: flex;
  justify-content: space-between;
}

.icon-button {
  background-color: #48ADA7; /* 버튼 배경 색을 파란색으로 설정 */
  border: none;
  border-radius: 5px; /* 버튼을 완전히 둥글게 만들어 피임 모양으로 설정 */
  color: white; /* 글자 색을 흰색으로 설정 */
  padding: 5px 10px; /* 버튼의 내부 여백 설정 */
  font-size: 15px; /* 글자 크기 설정 */
  font-weight: bold; /* 글자 굵기를 굵게 설정 */
  cursor: pointer; /* 마우스 오버 시 포인터 커서 표시 */
  display: flex; /* 아이콘과 텍스트를 수평으로 정렬하기 위해 Flexbox 사용 */
  align-items: center; /* 아이콘과 텍스트를 수직으로 중앙에 정렬 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 버튼에 그림자 추가 */
  transition: background-color 0.3s ease; /* 배경색 변화에 부드러운 전환 효과 추가 */
  margin-right: 10px;
}

.icon-button:hover {
  opacity: 0.8; /* 버튼에 마우스 오버 시 살짝 투명하게 변환 */
}

.icon-button img {
width: 20px; /* 아이콘 크기 줄이기 */
height: 20px; /* 아이콘 높이 줄이기 */
margin-right: 10px; /* 아이콘과 텍스트 사이의 간격 설정 */
border-radius: 50%; /* 아이콘을 완전히 둥글게 만듦 (원형) */
background-color: #4f8b7f; /* 아이콘의 배경 색을 흰색으로 설정 */
padding: 5px; /* 아이콘 안쪽 여백 설정 */
}

.icon-button-run {
display: inline-block;
background-color: #4a90e2; /* 버튼 배경 색을 파란색으로 설정 */
border: none;
border-radius: 5px; /* 버튼을 완전히 둥글게 만들어 피임 모양으로 설정 */
color: white; /* 글자 색을 흰색으로 설정 */
padding: 12px 10px; /* 버튼의 내부 여백 설정 */
font-size: 16px; /* 글자 크기 설정 */
font-weight: bold; /* 글자 굵기를 굵게 설정 */
cursor: pointer; /* 마우스 오버 시 포인터 커서 표시 */
display: flex; /* 아이콘과 텍스트를 수평으로 정렬하기 위해 Flexbox 사용 */
align-items: center; /* 아이콘과 텍스트를 수직으로 중앙에 정렬 */
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 버튼에 그림자 추가 */
transition: background-color 0.3s ease; /* 배경색 변화에 부드러운 전환 효과 추가 */
margin-right: 10px;
width: 200px; /* 동일한 버튼 너비 설정 */
justify-content: center; /* 내용물 중앙 정렬 */
align-items: center; /* 세로 중앙 정렬 */
margin-top: 20px;
}

.icon-button-run:hover {
opacity: 0.8; /* 버튼에 마우스 오버 시 살짝 투명하게 변환 */
}

.icon-button-run img {
width: 20px;         /* 아이콘 크기 줄이기 */
height: 20px;        /* 아이콘 높이 줄이기 */
margin-right: 10px;  /* 아이콘과 텍스트 사이의 간격 설정 */
border-radius: 50%;  /* 아이콘을 완전히 둥글게 만듦 (원형) */
background-color: #7aaaf3; /* 아이콘의 배경 색을 흰색으로 설정 */
padding: 5px;       /* 아이콘 안쪽 여백 설정 */
}

.run-button {
  justify-content: right;
}

.icon-button-edit {
  display: inline-block;
  background-color: #F86C44; /* 버튼 배경 색을 파란색으로 설정 */
  border: none;
  border-radius: 5px; /* 버튼을 완전히 둥글게 만들어 피임 모양으로 설정 */
  color: white; /* 글자 색을 흰색으로 설정 */
  padding: 5px 10px; /* 버튼의 내부 여백 설정 */
  font-size: 16px; /* 글자 크기 설정 */
  font-weight: bold; /* 글자 굵기를 굵게 설정 */
  cursor: pointer; /* 마우스 오버 시 포인터 커서 표시 */
  display: flex; /* 아이콘과 텍스트를 수평으로 정렬하기 위해 Flexbox 사용 */
  align-items: center; /* 아이콘과 텍스트를 수직으로 중앙에 정렬 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 버튼에 그림자 추가 */
  transition: background-color 0.3s ease; /* 배경색 변화에 부드러운 전환 효과 추가 */
  margin-right: 10px;
  /* width: 200px; 동일한 버튼 너비 설정 */
  justify-content: center; /* 내용물 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  margin-top: 20px;
  margin-left: 40px;
  }
  
  .icon-button-edit:hover {
  opacity: 0.8; /* 버튼에 마우스 오버 시 살짝 투명하게 변환 */
  }
  
  .icon-button-edit img {
  width: 20px;         /* 아이콘 크기 줄이기 */
  height: 20px;        /* 아이콘 높이 줄이기 */
  margin-right: 10px;  /* 아이콘과 텍스트 사이의 간격 설정 */
  border-radius: 50%;  /* 아이콘을 완전히 둥글게 만듦 (원형) */
  background-color: #f0e556; /* 아이콘의 배경 색을 흰색으로 설정 */
  padding: 5px;       /* 아이콘 안쪽 여백 설정 */
  }

  .run-button {
    display: flex;
    justify-content: right;
    align-items: center;
  }