.eval-content {
  flex: 1;
  padding: 20px;
  padding-top: 50px;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
}

.eval-navigation-bar {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  margin-top: 40px;
  margin-left: 25px;
}

.eval-navigation-title {
  margin-left: -14px;
  display: flex;
  align-items: center;
}

.nav-item {
  text-decoration: none;
  background-color: transparent; /* 기본 배경색 제거 */
  color: rgba(117, 117, 117, 0.616); /* 텍스트 색상 */
  border: none; /* 테두리 제거 */
  padding: 15px 20px; /* 버튼의 내부 여백 */
  font-size: 19px; /* 폰트 크기 */
  font-weight: bold;
  cursor: pointer; /* 마우스를 올렸을 때 포인터 커서 표시 */
  transition: color 0.3s ease, transform 0.2s ease; /* 텍스트 색상과 크기 변화에 애니메이션 추가 */
  position: relative; /* underline을 위한 상대적 위치 */
}

.nav-item.active {
  outline: none;
  color: rgb(0, 0, 0);
  transform: scale(0.95);
}

.nav-item-eval-header {
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #222;
  border: none;
  font-size: 19px;
  position: relative;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 25px;
  margin: 20px 10px 25px -4px;
}

.nav-item-eval-active {
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #b82749;
  border: none;
  font-size: 19px;
  position: relative;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 25px;
}

.tab-buttons {
  display: inline-block;
  border-radius: 8px;
  overflow: hidden;
  margin-left: 11px;
  margin-top: 2px;
}

.tab-buttons button {
  border: none;
  padding: 13px 15px;
  cursor: pointer;
  font-size: 14.5px;
  background-color: white;
  color: #929292;
  border-bottom: 2px solid transparent;
}

.tab-buttons button:hover {
  color: #000000;
}

.tab-buttons button.active {
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: bold;
  border-bottom: 2px solid #c9415e;
}

.tab-wrapper {
  padding: 10px;
  border-radius: 0px 0px 8px 8px;
  justify-content: space-between;
}

.tab-container {
  display: inline-flex;
  background-color: white;
  border-radius: 8px;
  padding: 10px;
}

.tab-title {
  display: inline-block;
  padding: 10px;
  border-radius: 8px;
  color: #aaa;
  background-color: white;
  font-size: 12px;
}

.tab-title-span {
  color: #7e7e7e;
  font-size: 15px;
}

.table-section {
  margin: 5px 0px;
}

.table-state-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  font-size: 36px;
  font-weight: bold;
}