.eval-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-left: 12px;
}

.eval-table th {
  z-index: 2;
  padding: 8px;
  border-right: 1px solid #ddd;
  text-align: center;
  color: #505050;
  user-select:none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  font-weight: lighter;
  background-color: rgb(248, 248, 248);
}

.eval-table td {
  padding: 8px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  text-align: center;
  white-space: nowrap;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  font-size: 13px;
}

.eval-table td:hover {
  display: block;
  background-color: #F8FAFC;
}

.eval-table tr {
  background-color: white;
}

.eval-table tr:hover {
  background-color: #ddd;
}

.eval-table tr:last-child {
  border-bottom: none;
}

.eval-table th:nth-last-child(1), 
.eval-table td:nth-last-child(1){
  border-right: none;
}

.eval-thead-padding {
  padding: 11px !important;
}

.eval-tbody-padding {
  padding: 15.7px !important;
}

.eval-nopadding {
  padding: 0px;
}

.row-white {
  background-color: #FFFFFF !important;
}

.row-gray {
  background-color: #EEEEEE !important;
}

.eval-tooltip {
  font-size: 15px;
  background-color: #FFEDD5;
  color: black;
  padding: 14px;
  border-radius: 6px;
  max-width: 800px;
  position: absolute;
  z-index: 1000;
  white-space: normal;
  max-height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: break-word;
  line-height: 20px;
}

.pagination-container {
  text-align: center;
}

.eval-button-run {
  display: inline-block;
  background-color: #BB0841;
  border: none;
  border-radius: 17px;
  color: white;
  padding: 10px 7px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  width: 140px;
  justify-content: center;
  align-items: center;
  margin-right: 85px;
  text-decoration: none;
}

.eval-button-run:hover {
  opacity: 0.8;
}

.eval-final-button-run {
  display: inline-block;
  background-color: #BB0841;
  border: none;
  border-radius: 17px;
  color: white;
  padding: 10px 7px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  width: 126px;
  justify-content: center;
  align-items: center;
  margin-right: 85px;
  text-decoration: none;
}

.eval-final-button-run:hover {
  opacity: 0.8;
}