.pagination-container {
    display: flex;
    justify-content: center;
  }
  
  .pagination {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .page-item {
    margin: 0 5px; /* Adjust the margin as needed */
  }
  
  .page-item button {
    border: 1px solid #504f4f;
    padding: 10px 20px;
    background-color: white;
    color: #000c04;
    cursor: pointer;
  }
  
  .page-item button:hover {
    background-color: #bfc1c2;
    color: white;
  }
  
  .page-item button:disabled {
    color: #a1a1a1;
    cursor: auto;
    background-color: white;
  }
  
  .page-item.active button {
    background-color: #474849;
    color: white;
  }