.table-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.table-modal-content {
  background: white;
  padding: 25px 25px 20px 25px;
  border-radius: 8px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.table-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: black;
  font-size: 24px;
  cursor: pointer;
}

.table-close-button:hover {
  border-radius: 8px;
  background-color: #9A4444;
  color: white;
  border: none;
}

.table-modal-content-title {
  display: flex;
  justify-content: left;
  align-items: baseline;
  margin-top: 10px;
  font-weight: border;
}

.table-modal-content-title h3 {
  margin-right: 5px;
}

.table-modal-content-title p {
  font-size: 15px;
  font-weight: bolder;
}

.table-modal-model {
  margin-top: 30px;
}

.table-modal-content-model {
  background-color: #f8f8f8;
  border-radius: 8px;
}

.table-modal-content-model p {
  padding: 5px 5px 5px 10px;
  margin-top: 5px;
  color: gray;
  font-size: 13px;
}

.table-modal-label {
  margin-top: 20px;
  margin-bottom: 7px;
}

.table-data-section {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  gap: 5px;
  margin-bottom: 20px;
}

.table-row {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
}

.table-data-row {
  padding: 8px 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  width: 115px;
  text-align: center;
}

.table-file-name {
  background-color: #f8f8f8;
  padding: 8px 20px;
  border-radius: 4px;
  width: 100%;
  max-width: 395px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: gray;
}

.table-data-delete {
  padding: 8px 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  width: 160px;
  flex-direction: row;
  align-self: start;
  text-align: center;
}

.table-keywords-row {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.table-keywords {
  display: flex;
  align-items: center;
  gap: 5px;
}

.table-keyword {
  background-color: rgb(233, 243, 255);
  padding: 7px 20px;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  width: 70px;
  text-align: center;
}

.table-keyword-name {
  background-color: #f8f8f8;
  padding: 8px 20px;
  border-radius: 4px;
  width: 100%;
  color: gray;
}