/* 모달의 배경을 어둡게 처리 */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* 모달 콘텐츠 */
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* X 버튼 스타일 */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: black;
  font-size: 24px;
  cursor: pointer;
}

.close-button:hover {
  border-radius: 8px;
  background-color: #0056b3;
  color: white;
  border: none;
}

.modal-content-title {
  display: flex;
  justify-content: left;
  align-items: baseline;
}

.modal-content-title h2 {
  margin-right: 5px;
}

.modal-content-model {
  background-color: rgb(240, 240, 240);
  border-radius: 8px;
}

.modal-content-model p {
  padding: 5px 5px 5px 10px;
  margin-top: 5px;
  color: gray;
}

.data-section {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  gap: 5px;
}

.row {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
}

.data-row {
  padding: 8px 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  width: 115px;
  text-align: center;
}

.file-name {
  background-color: #f8f8f8;
  border: 1px solid #e0e0e0;
  padding: 8px 20px;
  border-radius: 4px;
  width: 100%;
  max-width: 395px;

  white-space: nowrap; /* 텍스트를 한 줄로 고정 */
  overflow: hidden; /* 넘치는 내용은 숨김 */
  text-overflow: ellipsis; /* 넘치는 부분은 '...'으로 표시 */
}

.file-name:hover::after, .keyword-name:hover::after {
  content: attr(data-tooltip); /* 툴팁으로 표시될 내용 */
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  top: 36%;
  left: 9%;
  transform: translateX(0%);
  white-space: nowrap;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none; /* 마우스 포인터가 툴팁에 영향을 미치지 않게 */
  opacity: 1;
}

.data-delete {
  padding: 8px 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  width: 160px;
  flex-direction: row;
  align-self: start;
  text-align: center;
}

.keywords-row {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.keywords {
  display: flex;
  align-items: center;
  gap: 5px;
}

.keyword {
  background-color: #e0ecf8;
  padding: 10px 20px;
  border-radius: 20px;
  color: #0056b3;
  font-weight: bold;
  width: 70px;
  text-align: center;
}

.keyword-name {
  background-color: #f8f8f8;
  border: 1px solid #e0e0e0;
  padding: 8px 20px;
  border-radius: 4px;
  width: 100%;
}

.modal-close-button {
  cursor: pointer;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
}

.modal-close-button:hover {
  background-color: #0056b3;
}