.sider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    height: 100vh; /* 전체 높이를 설정하여 화면에 맞게 */
    box-sizing: border-box; /* 패딩을 포함한 크기 계산 */
  }
  
  .sider.collapsed {
    width: 120px; /* 사이드바가 접힌 상태일 때의 너비 */
  }
  
  .sidemenu {
    list-style-type: none;
    padding: 0;
    margin-top: 60px;
  }
  
  .menuItem {
    align-items: center;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s ease;
    font-weight: bold; /* 폰트 두껍게 */
  }
  
  .menuItem:hover {
    background-color: #21ad91;
    color: rgb(247, 243, 45);
  }
  
  /* 최소화 버튼 */
  .minimizeButton {
    align-items: center;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    text-align: center;
    color: whitesmoke;
    font-size: 16px;
    transition: background-color 0.3s ease;
    font-weight: bold; /* 폰트 두껍게 */
  }
  
  .minimizeButton:hover {
    background-color: #21ad91;
    color: rgb(247, 243, 45);
  }
  