.sider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 155px;
    /* background-color: #343A40; */
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(192, 192, 192);
    /* color: #C2C7D0; */
    color: #979292;
    padding: 5px 5px 10px 5px;
    height: 100vh; /* 전체 높이를 설정하여 화면에 맞게 */
    box-sizing: border-box; /* 패딩을 포함한 크기 계산 */
  }
  
  .sider.collapsed {
    width: 50px; /* 사이드바가 접힌 상태일 때의 너비 */
  }
  
  .sidemenu {
    list-style-type: none;
    padding: 0;
    margin-top: 100px;
  }
  
  /* 최소화 버튼 */
  .minimizeButton {
    padding: 10px 5px;
    cursor: pointer;
    font-size: 13.5px;
    transition: background-color 0.3s ease;
    align-items: center;
    justify-content: center;
  }
   
  .menuItem:hover, .minimizeButton:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    color: #000000; /* #EAD8B1 rgb(247, 243, 45); */
  }
  
  .custom-icon-size {
    font-size: 14px; /* Adjust the icon size here */
    margin: 5px 7px 5px 10px; /* 버튼 여백 설정 (상, 우, 하, 좌) */
  }

  .custom-icon-ssize {
    font-size: 14px; /* Adjust the icon size here */
    margin-right: 5px;
    margin-left: 1px;
    
  }

  .mini-div {
    display: flex;
    justify-content: center;
  }