.sider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 180px;
    /* background-color: #343A40; */
    background-color: #8b1e4a;
    /* color: #C2C7D0; */
    color: #eee;
    padding: 5px 5px 10px 5px;
    height: 100vh; /* 전체 높이를 설정하여 화면에 맞게 */
    box-sizing: border-box; /* 패딩을 포함한 크기 계산 */
  }
  
  .sider.collapsed {
    width: 90px; /* 사이드바가 접힌 상태일 때의 너비 */
  }
  
  .sidemenu {
    list-style-type: none;
    padding: 0;
    margin-top: 60px;
  }
  
  .menuItem {
    align-items: center;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 5px;
    text-align: center;
    color: #eee;
    font-size: 18px;
    transition: background-color 0.3s ease;
    font-weight: bold; /* 폰트 두껍게 */
  }
  
  .menuItem:hover, .minimizeButton:hover {
    background-color: #007BFF;
    border-radius: 15px;
    color: #eee; /* #EAD8B1 rgb(247, 243, 45); */
  }
  
  /* 최소화 버튼 */
  .minimizeButton {
    align-items: center;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 5px;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.3s ease;
    font-weight: bold; /* 폰트 두껍게 */
  }
  
  /* .minimizeButton:hover {
    background-color: #21ad91;
    color: rgb(247, 243, 45);
  } */
  
  .custom-icon-size {
    font-size: 18px; /* Adjust the icon size here */
  }